
/* normal background test */
.test_css1{
    width: 22px;
    height: 20px;
    background: url(../img/slice/test_png.png);
}

/* normal background-image test */
.test_css2{
    width: 22px;
    height: 20px;
    background-image: url(../img/slice/test_png.png);
}

/* normal background, repeat not spriting */
.test_css3{
    width: 72px;
    height: 20px;
    background: url(../img/slice/test_png2.png) repeat;
}

/* normal background, img @ root */
.test_css4{
    width: 72px;
    height: 20px;
    background: url(../img/test_png2.png);
}

/* normal background, 图片不在imgRoot下，只copy */
.test_css4{
    background-image: url(../img2/test_png.png);
    width: 22px;
    height: 20px;
}

/* ie6 support TODO: ie6 13%-, 建议使用pngfix.js */
.test_css5{
    _background: url(../img/slice/test_png2.png) 0 0;
}

/* ie6 support TODO: ie6 13%-, 建议使用pngfix.js */
.test_css6{
    _background-image: url(../img/slice/test_png2.png) 0 0;
}


/* normal background sprite slice2, with positioning */
.loading_status1{
    width: 48px;
    height: 48px;
    background-image: url(../img/slice2/loading.png);
    background-position:0 0;
}

.loading_status2{
    width: 48px;
    height: 48px;
    background-image: url(../img/slice2/loading.png);
    background-position:-48px 0;
}

.loading_status3{
    width: 48px;
    height: 48px;
    background: url(../img/slice2/loading.png) 48px 0, url(../img/slice2/loading.png), url(../img/slice2/loading.png);
    background-image: url(../img/slice2/loading.png);
    background-position:-96px 0, -48px 0, 0 0;
}

@keyframes myname{
    0%{
        background: url(../img/slice2/loading.png) 0 0 no-repeat;
    }
    100%{
        background: url(../img/slice2/loading.png) -48px 0 no-repeat;
    }
}
