::-webkit-scrollbar { width:10px; height:10px;}
::-webkit-scrollbar-button { }
::-webkit-scrollbar-button:start:decrement { width:10px; height:11px; background:url("./slice/scroll-btn-start.png") no-repeat 0 3px;}
::-webkit-scrollbar-button:end:increment{ width:10px; height:11px; background:url("./slice/scroll-btn-end.png") no-repeat 0 3px;}
::-webkit-scrollbar-track { border:0; background-color:#f6f7f8;}
::-webkit-scrollbar-track-piece{ background-color:#f6f7f8;}
::-webkit-scrollbar-track-piece:vertical{}
::-webkit-scrollbar-track-piece:horizontal{}
::-webkit-scrollbar-thumb{ width:8px; background-color:#cddfec; border:1px solid #bcd2df; border-radius:5px;}
::-webkit-scrollbar-thumb:vertical{ border-width:1px 1px 1px 1px; min-height:24px;}
::-webkit-scrollbar-thumb:horizontal{ border-width:1px 1px 1px 1px; min-width:24px;}
::-webkit-scrollbar-thumb:vertical:hover{ background-color:#b6d0e1; border:1px solid #9ab6c8;}
::-webkit-scrollbar-thumb:horizontal:hover{ background-color:#b6d0e1; border:1px solid #9ab6c8;}
::-webkit-scrollbar-thumb:vertical:active{ background-color:#c3dae9; border:1px solid #afc9d9;}
::-webkit-scrollbar-thumb:horizontal:active{ background-color:#c3dae9; border:1px solid #afc9d9;}