.tooltip {
    position: absolute;
    z-index: 1030;
    display: block;
    font-size: 12px;
    line-height: 1.4;
    opacity: 0;
    visibility: visible;
}

.tooltip.in {
    opacity: 1;
}

.tooltip.top {
    padding: 5px 0;
    margin-top: -3px;
}

.tooltip-inner {
    width: 100%;
    white-space:nowrap;
    padding: 8px;
    color: #c3963c;
    text-align: center;
    text-decoration: none;
    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top, #FFF6DA 0%, #FDEBBB 100%);
    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom, #FFF6DA 0%, #FDEBBB 100%);
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px #DBC38C solid;
}

.tooltip-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.tooltip.top .tooltip-arrow {
    bottom: 0;
    left: 50%;
    margin-left: -5px;
    /*border-top-color: #DBC38C;*/
    /*border-top-color: #FDEBBB;*/
    border-top-color: transparent;
    border-width: 5px 5px 0;
}